[Unit]
Description=Automatic Brightness Control

[Service]
Type=simple
ExecStart=/home/masroor/ArchInstallMBP/scripts/abc

[Install]
WantedBy=multi-user.target
